* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* page section */
body {
  color: #444;
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;

  /* height: 80px; */
}

nav {
  font-size: 16px;
}
/* 
article {
  margin-bottom: 60px;
} */

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

/* smaller elements */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
/*footer p {
  font-size: 16px;
}*/

li:last-child {
  margin-bottom: 0;
}
#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-posts-list {
  list-style: none;
  margin-left: 0;
}

/* body {
   background-color: rgba(34, 34, 233, 0);
} */

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
/* li:nth-child(even) {
  color: red;
} */
/* article p:last-child {
  color: red;
} */

/* styingling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
}

nav a:link:last-child {
  margin-left: 0;
}

.like {
  cursor: pointer;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* h3 + p::first-line {
  color: red; 
}*/

/* h2::first-letter {
  margin-right: 80px;
} */
/* resolving conflicts */

/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green !important;
} */

/* floats */
/* .author-img {
  float: left;
  margin-bottom: 20px;
}
.author {
  float: left;
  margin-left: 20px;
  padding-top: 10px;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  clear: both;
  content: " ";
  display: block;
}
article {
  width: 825px;
  float: left;
}
aside {
  width: 300px;
  float: right;
}
footer {
  clear: both;
} */
/* Flexbox */
.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.author-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 15px;
}
.author {
  margin-bottom: 0;
}
.related-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

/* Flexbox Layout */
/* .row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
}
article {
  flex: 1;
  margin-bottom: 0;
}
aside {
  flex: 0 0 300px;
} */

/* CSS Grid Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  grid-column: 1 / -1;
}

aside {
  align-content: start;
}

footer {
  grid-column: 1 / -1;
}
